/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.9;
  font-weight: 400;
  color: #222;
  background-color: #FAFAFA;
}



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 300;
  color: #222222;
  font-family: 'Fira Mono', monospace;}
h1 { font-size: 7.0rem; line-height: 1.35;  letter-spacing: -.1rem; margin-bottom: 2rem; }
h2 { font-size: 5.0rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 4.5rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 3.5rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 3.0rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 2.3rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 7rem; font-family: 'Fira Mono', monospace; font-weight: 700; }
  h2 { font-size: 5.0rem; }
  h3 { font-size: 4.5rem; }
  h4 { font-size: 3.5rem; }
  h5 { font-size: 3.0rem; }
  h6 { font-size: 2.5rem;}
  p { font-size: 2.3rem; font-family: 'Open Sans', sans-serif;}
  small { font-size: 1.6rem; font-family: 'Fira Mono', monospace; font-weight: 400; color: #4A4A4A; display: inline-block; text-align: right; }
}

.footerType {
  font-size: 1.6rem;
  color: #9b9b9b;
  font-family: 'Fira Mono', monospace;
  display: inline-block;
  margin-top: 0px;
}

.strikethrough {
  text-decoration: line-through;
}

.sectionHeading {
  margin-top: 50px;
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #9b9b9b;
  text-decoration: none;
  font-family: 'Fira Mono', monospace;
  position: relative;
}

.right {
  text-align: right;
}

.gaColor {
  color: #FA4542;
}

.bloomingdalesColor {
  color: #000000;
}

.fe1SprintTitle:hover,.credsColor {
  color: #013C81;
}

.bambooTitle:hover,.bambooColor {
  color: #14E888;
}

.workType {
  color: #9B9B9B;
  border-bottom: 3px solid #9b9b9b;
  margin-bottom: 75px;
}


.linkedIn:hover {
  color: #0084bf;
}

.dribbble:hover {
  color: #ea4c89;
}

.email:hover {
  color: #DA4A38;
}

.github:hover {
  color: #171515;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid;
  transition: 0.4s;
}

a:hover:after {
  width: 100%;
}

.blueLink {
  color: #013C81;
}

.bloomingdalesTitle:hover, .bambooTitle:hover, .fe1SprintTitle:hover, .designSprintFullStudyReadLink:hover {
  cursor: pointer;
}

.noMarginLeft {
  margin-left: 0%;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: disc; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1rem 0 1rem 1rem;
  font-size: 90%; }
li {
  font-size: 2.3rem;
  margin: 30px 0px 30px 0px;
}



/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.marginNav {
  margin-right: 35px;
}

.hero {
  margin: 175px 0px 175px 0px;
}

.menuTitle {
  margin: 75px 0px 0px 0px;
}

.footer {
  margin: 150px 0px 50px 0px;
}

.nav {
  margin: 20px 0px 0px 0px;
}


.caseStudy {
  padding-right: 85px;
  padding-left: 85px;
}

.caseStudyTop {
  padding-top: 30px;
  padding-bottom: 30px;
}


*:focus {
    outline: none;
}




/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u--width {
  width: 100%;
  box-sizing: border-box; }
.u-max--width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }




/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


.read {
  padding-top: 10px;
}

.show {
  display: none;
}

.hideForClickVotes {
  display: none;
}

.hideForClickRedlines {
  display: none;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  border: 1px solid #D8D8D8;
  height: 4700px;
  margin-top: 25px;
}

.Sketches {
  z-index: 0;
  margin-top: 30px;
}

.votes {
  position: absolute;
  margin-top: 30px;
}

.redlines {
  position: absolute;
  padding-top: 40px;
}

.finalScoreReport {
  background-color: #ffffff;
}

.howmightweimage{
  left: -220px;
  width: 700px;
}

.winningQuestionsBullets {
  margin-top: 283px;
}

.finalSketchImage {
  left: 0px;
  margin: 115px 0px 0px 0px;
  width: 616px;
}

.definedProblemImage {
  padding: 50px 0px 50px 0px;
}

.relative {
  position: relative;
}

.flows {
  left: 0px;
  width: 1041px;
  margin: 25px 0px 25px 0px;
}

.scenarioWidth {
  width: 538px;
  left: -220px;
}

.candidateCaption {
  margin-top: 64px;
}

.recruiterCaption {
  margin-top: 90px;
}

.thmCaption {
  margin-top: 47px;
}

.scenariosScriptsCaption {
  margin-top: 290px;
}

.example {
  margin: 60px 0px 60px 0px;
}

.exampleType {
  margin-top: 176px;
}

.crazy8Type {
  margin-top: 125px;
}

.thankYouCopy {
  margin: 150px 0px 30px 0px;
}

.scenarioMargin {
  margin: 20px 0px 35px 215px;
}

.scenarioMarginTech {
  margin: 20px 0px 35px 153px;
}

.candidateScenarioImage {
  margin-top: 260px;
}

.scenariosScripts {
  margin: 65px 0px 65px 0px;
}


.greenDot {
  background-color: #16CD5E;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.yellowDot {
  background-color: #F8E71C;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.finalSketchExplaination {
  padding-top: 125px;
}

.finalSketchCaption {
  padding-top: 1000px;
}


/* Bamboo section
--------------------------------------- */
.bambooWirefamesImage {
 margin: 25px 0px 0px 0px;
}

.mascotsImage {
  margin: 40px 0px 0px 0px;
}

.AppImages {
  margin: 50px 0px 50px 0px;
}

.bambooAppDescriptionsCheckup {
  padding-top: 150px;
}

.bambooAppDescriptionsGoal {
  padding-top: 100px;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
