.footerType {
  font-size: 1.6rem;
  color: #9b9b9b;
  font-family: 'Fira Mono', monospace;
  display: inline-block;
  margin-top: 0px;
}

.strikethrough {
  text-decoration: line-through;
}

.sectionHeading {
  margin-top: 50px;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid;
  transition: 0.4s;
}


a:hover:after {
  width: 100%;
}

.title:hover a:after {
  width: 100%;
}

.gaColor {
  color: #FA4542;
}

.blackColor {
  color: #000000;
}

.fe1SprintTitle:hover,.credsColor {
  color: #013C81;
}

.bambooTitle:hover,.bambooColor {
  color: #14E888;
}

.workType {
  color: #9B9B9B;
  border-bottom: 3px solid #9b9b9b;
  margin-bottom: 75px;
}


.linkedIn:hover {
  color: #0084bf;
}

.dribbble:hover {
  color: #ea4c89;
}

.email:hover {
  color: #DA4A38;
}

.github:hover {
  color: #171515;
}


.blueLink {
  color: #013C81;
}

.bloomingdalesTitle:hover, .bambooTitle:hover, .fe1SprintTitle:hover, .designSprintFullStudyReadLink:hover, .email:hover {
  cursor: pointer;
}


.noMarginLeft {
  margin-left: 0%;
}

.marginNav {
  margin-right: 35px;
}

.hero {
  margin: 175px 0px 175px 0px;
}

.menuTitle {
  margin: 75px 0px 0px 0px;
}

.footer {
  margin: 150px 0px 50px 0px;
}

.nav {
  margin: 20px 0px 0px 0px;
}


.caseStudy {
  padding-right: 85px;
  padding-left: 85px;
}

.caseStudyTop {
  padding-top: 30px;
  padding-bottom: 30px;
}

.read {
  padding-top: 10px;
}

.show {
  display: none;
}

.hideForClickVotes {
  display: none;
}

.hideForClickRedlines {
  display: none;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  border: 1px solid #D8D8D8;
  height: 4700px;
  margin-top: 25px;
}

.Sketches {
  z-index: 0;
  margin-top: 30px;
}

.votes {
  position: absolute;
  margin-top: 30px;
}

.redlines {
  position: absolute;
  padding-top: 40px;
}

.finalScoreReport {
  background-color: #ffffff;
}

.howmightweimage{
  left: -220px;
  width: 700px;
}

.winningQuestionsBullets {
  margin-top: 283px;
}

.finalSketchImage {
  left: 0px;
  margin: 115px 0px 0px 0px;
  width: 616px;
}

.definedProblemImage {
  padding: 50px 0px 50px 0px;
}

.relative {
  position: relative;
}

.flows {
  left: 0px;
  width: 1041px;
  margin: 25px 0px 25px 0px;
}

.scenarioWidth {
  width: 538px;
  left: -220px;
}

.candidateCaption {
  margin-top: 64px;
}

.recruiterCaption {
  margin-top: 90px;
}

.thmCaption {
  margin-top: 47px;
}

.scenariosScriptsCaption {
  margin-top: 290px;
}

.example {
  margin: 60px 0px 60px 0px;
}

.exampleType {
  margin-top: 176px;
}

.crazy8Type {
  margin-top: 125px;
}

.thankYouCopy {
  margin: 150px 0px 30px 0px;
}

.scenarioMargin {
  margin: 20px 0px 35px 215px;
}

.scenarioMarginTech {
  margin: 20px 0px 35px 153px;
}

.candidateScenarioImage {
  margin-top: 260px;
}

.scenariosScripts {
  margin: 65px 0px 65px 0px;
}


.greenDot {
  background-color: #16CD5E;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.yellowDot {
  background-color: #F8E71C;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.finalSketchExplaination {
  padding-top: 125px;
}

.finalSketchCaption {
  padding-top: 1000px;
}

.bambooWirefamesImage {
 margin: 25px 0px 0px 0px;
}

.mascotsImage {
  margin: 40px 0px 0px 0px;
}

.AppImages {
  margin: 50px 0px 50px 0px;
}

.bambooAppDescriptionsCheckup {
  padding-top: 150px;
}

.bambooAppDescriptionsGoal {
  padding-top: 100px;
}

@media (max-width: 414px) {
  h1 { font-size: 5rem; font-family: 'Fira Mono', monospace; font-weight: 700; }
  h2 { font-size: 4rem; }
  h3 { font-size: 3.5rem; }
  h4 { font-size: 2.75rem; }
  h5 { font-size: 3.25rem; }
  h6 { font-size: 3rem;}
  p { font-size: 1.75rem; font-family: 'Open Sans', sans-serif;}
  small { font-size: 1.6rem; font-family: 'Fira Mono', monospace; font-weight: 400; color: #4A4A4A; display: inline-block; text-align: right; }

  .hero {
    margin: 75px 0px 75px 0px;
  }

  .mobileAlign {
    text-align: left;
  }

  .mobilePad {
    margin-bottom: 25px;
  }

  .caseStudy {
    padding-left: 25px;
    padding-right: 25px;
  }

  .read {
    display: none;
  }

  .footer {
    margin-top: 75px;
  }

}
