@font-face {
	font-family: "News";
	src: url("fonts/newsBT-RomanC.woff") format('woff');
}

h1, h2, h3,  {
	font-family: "News";
}

h4, h5, label, li, p {
	font-family: "Helvetica";
}

h1 {
	font-size: 48px;
	line-height: 1.2;
	margin-bottom: 0px;
}

h2 {
	font-size: 36px;
	line-height: 1.2;
}

h3 {
	font-size: 28px;
	line-height: 1.2;
	margin-top: 50px;
}

h4 {
	font-size: 22px;
	line-height: 1.2;
	margin-top: 0px;
}

h5 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
}

h6 {
	font-size: 16px;
	line-height: 1.2;
}

p {
	font-size: 16px;
	line-height: 1.4;
}

label {
	font-size: 14px;
}

a {
	color: #1E8CF2;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #0B61B2;
}

h5.description {
	margin: 25px 0px 74px 0px;
	font-weight: normal;
	line-height: 1.4;
}

.percentage {
	font-weight: bold;
	color: #1E8CF2;

}

.score-points {
	text-align: center;
	color: #4E4E4E;
	margin-bottom: 15px;
}

.score-points-100 {
	text-align: center;
	color: #4E4E4E;
	font-weight: normal;
	margin-top: 0px;
}

.score {
	font-size: 100px;
	color: #1E8CF2;
	font-family: "Helvetica";
	font-weight: bold;
	text-align: center;
	margin: 0px 0px 0px 0px;

}

nav {
	border-bottom: 1px solid #ececec;
}

img {
	width: 100%;
	padding: 10px 10px 15px 10px;
}

.avatar {
	background-color: #E4F1FE;
	width: 40px;
	height: 40px;
	border-radius: 100%
}

.avatar-initals {
	text-align: center;
	color: #47A2F8;
	margin-top: 10px;
}

p .avatar-initals {
	font-size: 12px;
}

.date-taken {
	float: right;
}

.dropdown {
	border: 1px solid #cacaca;
	padding: 15px 15px 15px 5px;
	margin-top: 30px;
}

.dropdown-date {
	font-size: 14px;
	display: inline;
}

.arrow {
	width: 18px;
	height: 18px;
	display: inline;
}

.overall-score {
	background-color: #f6f6f6;
	padding: 20px 20px 26px 20px;
}

.challenge {
	background-color: #f6f6f6;
	padding: 20px 50px 1px 50px;
}

.challenge-glance {
	display: inline;
}

.score-blurb {
	text-align: center;
 }

 .icon {
 	width: 16px;
 	padding: 0px 5px 0px 0px;
 }

 .bulb {
 	width: 11px;
 	padding: 0px 5px 0px 45px;
 }

 .pencil {
 	width: 16px;
 	padding: 0px 5px 0px 45px;
 	margin-top: 15px;
 }

 .large-icon {
 	width: 24px;
 	margin-left: 165px;
 	padding-top: 15px;
 }

 .bottom {
 	margin-top: 0px;
 }

 .margin {
 	margin-bottom: 37px;
 }

.last {
	margin-bottom: 50px;
}

.date-taken {
	padding-top: 48px;
}

.dropdown-date {
	padding-left: 10px;
}

button {
	background-color: #47A2F8;
	border-radius: 3px;
	color: #ffffff;
	font-size: 16px;
	font-family: "Helvetica";
	border: none;
	padding: 10px 20px 10px 20px;
	margin: 15px 0px 0px 0px;
}

button:hover {
	background-color: #0B61B2;
}

.code {
	display: inline;
}

.starter {
	background-color: #ACD5FC;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	display: inline-block;
	margin-top: 52px;
}

.coders {
	background-color: #0B61B2;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	display: inline-block;
	margin-left: 20px;
}

.tabs {
  margin: 0;
  border: 1px solid #e6e6e6;
  padding-left: 0px;
  background: #fefefe;
  list-style-type: none; }
  .tabs::before, .tabs::after {
    display: table;
    content: ' '; }
  .tabs::after {
    clear: both; }

.tabs.vertical > li {
  display: block;
  float: none;
  width: auto; }

.tabs.simple > li > a {
  padding: 0; }
  .tabs.simple > li > a:hover {
    background: transparent; }

.tabs.primary {
  background: #1779ba; }
  .tabs.primary > li > a {
    color: #fefefe; }
    .tabs.primary > li > a:hover, .tabs.primary > li > a:focus {
      background: #1673b1; }

.tabs-title {
  float: left; }
  .tabs-title > a {
    display: block;
    padding: 20px 75px 20px 75px;
    font-size: 16px;
    line-height: 1;
    color: #47A2F8;
    text-align: center; }
    .tabs-title > a:hover {
      background: #fefefe;
      color: #47A2F8; }
    .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
      background: #e6e6e6;
      color: #47A2F8; }


 .breakpoint {
 	color: #a2a2a2;
 	font-weight: normal;
 }

.tabs-content {
  border: 1px solid #e6e6e6;
  border-top: 0;
  background: #fefefe;
  color: #0a0a0a;
  transition: all 0.5s ease; }

.tabs-content.vertical {
  border: 1px solid #e6e6e6;
  border-left: 0; }

.tabs-panel {
  display: none;
  padding: 0px; }
  .tabs-panel[aria-hidden="false"] {
    display: block; }

.tab-icon {
	width: 64px;
}

.line {
	text-align: center;
}

.laptop {
	width: 960px;
}

.tablet {
	width: 600px;
}

.phone {
	width: 400px;
}

#tab2 {
	margin-left: 40px;
}

#tab3 {
	margin-left: 230px;
}

#tab4 {
	margin-left: 325px;
}

ul {
	list-style: none;
	padding: 10px 10px 10px 10px;
	background-color: #e6e6e6;
}

.number-list {
	margin: 0px 0px 0px 0px;
	width: 30px;
	display: inline-block;
}

code {
	display: inline;
}

li {
	padding-top: 5px;
}

.code2 {
	display: none;
}

.code3 {
	display: none;
}

#secondary-button {
	background-color: #eee;
	height: 30px;
}

#secondary-button-css {
	background-color: #eee;
	height: 30px;
}

.chevron {
	height: 20px;
	width: 20px;
	padding: 5px 0px 0px 541px;
}

.redlines {
  position: absolute;
  margin-top: 0px;
	width: 100%;
	z-index: 2;
}

.hideForClickRedlines {
  display: none;
}
